@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;700&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
}

img {
    width: 50px;
}

code {
    color: red;
}
